---
import Subtitle from "./Subtitle.astro";
import Section from "./Section.astro";
import { basics } from "@/resume.json";

const { summary } = basics;
---

<Section>
  <Subtitle text="Acerca de mí" />
  <p>
    {summary}
  </p>
</Section>
