---
import Close from "@/iconos/Close.astro";

interface Props {
  name: string;
  date: string;
  issuer: string;
  url: string;
}

const { name, date, issuer, url } = Astro.props;
---

<article class="my-2">
  <div class="flex justify-between">
    <h3 class="font-bold">{issuer}</h3>
    <span class="text-[14px] font-sans text-zinc-400">
      {`Expedido en: ${date.slice(0, 4)}`}
    </span>
  </div>
  <p>{name}</p>

  <dialog
    class="backdrop:bg-black backdrop:bg-opacity-50 open:animate-appear rounded-md h-[600px]"
    open={false}
  >
    <button class="closeBtn absolute right-0 m-2 w-6"> <Close /> </button>
    <picture>
      <img class="pt-10 w-[700px]" src={url} alt="certificado" />
    </picture>
  </dialog>
  <button class="viewBtn"> view </button>
</article>

<script>
  const $viewCertificateBtns = document.querySelectorAll("button.viewBtn");
  const $closeBtns = document.querySelectorAll("button.closeBtn");

  $viewCertificateBtns.forEach((item) => {
    item.addEventListener("click", () => {
      const $dialog = item.previousElementSibling as HTMLDialogElement;
      $dialog?.showModal();
      const $imgs = document.querySelectorAll("picture>img");

      $imgs.forEach((img) => {
        img.addEventListener("mouseover", () => {
          $dialog.onclick = () => {};
        });

        img.addEventListener("mouseout", () => {
          $dialog.onclick = () => $dialog.close();
        });
      });
    });
  });

  $closeBtns.forEach((item) => {
    item.addEventListener("click", () => {
      const $dialog = item.parentElement as HTMLDialogElement;
      $dialog?.close();
    });
  });
</script>
