---
import Section from "./Section.astro";
import { projects } from "@resume";
import Subtitle from "./Subtitle.astro";
import ProjectCard from "./ProjectCard.astro";
---

<Section>
  <Subtitle text="Proyectos" />
  <article class="grid grid-cols-3 gap-5 w-full">
    {
        projects.map((project) => {
        const { name, description, url, highlights } = project;
        return ( <ProjectCard 
                name={name},
                description={description},
                url={url},
                highlights={highlights}
        />)
        })
    }
  </article>
</Section>
